.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  width: 100vh;
}

.main {
  padding: 5rem 0;
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


/*----------------*/
.timetableContainer {
  max-width: 860px;
  margin-top: 16px;
  padding-bottom: 30px;
}
.timetableToolbar {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.timetableWrapper {
  border: solid 1px #484848;
  width: 100%;
  display: flex;
}

.moduleDay {
  width: calc(100% / 7);
  background-color: #fff;
  text-align: center;
}

.moduleDayTitle {
  font-size: 16px;
  font-weight: 500;
  height: 92px;
  padding: 1rem;
  border-right: solid 1px #484848;
  border-bottom: solid 1px #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  line-height: 1;
}

  .moduleDayTitle.blue {
    background-color: #e8fffe;
  }

  .moduleDayTitle.pink {
    background-color: #fde8e1;
  }

.moduleHour {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  border-right: solid 1px #c3c3c3;
  border-bottom: solid 1px #c3c3c3;
  overflow: hidden;
}
  .moduleHour.notAvailable {
    background-color: #eee;
    font-size: 38px;
  }
  .moduleHour.available button {
    width: 100%;
    color: #e5004e;
    font-size: 38px;
  }

.moduleDay.headerRoot {
  width: 56px;
  overflow: hidden;
}
  .moduleDay.headerRoot .moduleDayTitle {
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    width: 56px;
  }
  .moduleDay.headerRoot .moduleDaySlots {
    padding-top: 92px;
  }
  .moduleDay.headerRoot .moduleHour {
    border-right: solid 1px #484848;
    border-bottom: solid 1px #484848;
  }


.timetableOuter {
  display: block;
  white-space: nowrap;
  width: calc(100% - 56px);
}
  .timetableOuter .moduleDay {
    display: inline-block;
    width: calc((100% - 5px) / 7);
  }
/* 
  .timetableToolbar button .MuiButton-label {
    display: flex;
    align-items: center;
  }
  .timetableToolbar button i {
    font-size: 1rem;
    margin-right: 8px;
  }
  .timetableToolbar button.MuiButtonBase-root.MuiButton-root.Mui-disabled.Mui-disabled {
    color: #c6c6c6;
  }
  .timetableToolbar button.btn-next i {
    margin-right: 0;
    margin-left: 8px;
  }

.outerDay .innerOuterDay {
  padding: 1px;
  margin-top: -1px;
  margin-left: -1px;
  background-color: rgba(255,255,255, 0%);
}
.outerDay .innerOuterDay .moduleDay {
  width: calc(100%  / 7);
}
.outerDay .innerOuterDay .moduleDay:nth-child(7) {
  width: calc(100% / 7 + 1px);
}
  
/* TIMETABLE */
/* 
.module-title {
  font-size: 16px;
  font-weight: 500;
  height: 92px;
  padding: 1rem;
  border-right: solid 1px #484848;
  border-bottom: solid 1px #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  line-height: 0.75;
}






.header-day .inner-header-day {
    display: flex;
}
    .header-day .inner-header-day .moduleDay {
      display: flex;
    }

    .header-day .inner-header-day .moduleDay:nth-child(7) {
      width: calc((100% - 5px) / 7 + 5px);
    }
  


  .outerDay .react-swipeable-view-container {
    -webkit-overflow-scrolling: 'touch';
  }
  .outerDay .react-swipeable-view-container > div {
    overflow: hidden !important;
  }
  

@media screen and (min-width: 769px) {
  .text-month {
    display: none;
  }
  .timetable-outer {
    width: calc(100% - 92px);
  }
  .moduleDay.headerRoot {
    width: 92px;
  }
  .moduleDay.headerRoot .moduleDayTitle {
      width: 92px;
    }
    .moduleDay.headerRoot .moduleDaySlots {
      padding-top: 92px;
    }
 
  .moduleHour {
    height: 47px;
  }
} */